extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 

block variables
	// подключи тут
	//  стили темы
	link(rel="stylesheet", href="css/vostok.min.css")
	- let  mainPage= 'bg-black'
block title
	- let  title= 'Восток'
	title= title
 
block bg
	+pic('bg-vostok','bg','')(class="picture-bg")
block pagecontent 
	//- +mob-mnu()
	+top-nav('img/svg/logo-vostok.svg') 
		+e.mob-spacing.col-auto
			+b.user-block--sm
				.row.align-items-center
					.col-auto
						img(src="img/@2x/thumb-9.jpg", alt="")

					.col
						.h5.fw-500 Валентин 
							div Олегов
						.small Участник
		+e.mob-spacing.col-auto
			+e.link-download(href="#")
				+icon("download")
				| Скачать все
	+b.gal-section.flex-grow-1
		.container#lightgallery 
			- for (var y = 1; y < 5; y++)
				- for (var x = 1; x < 10; x++)
					+e.slide.swiper-slide(  href=`img/@2x/thumb-9.jpg` ) 
						+e.PICTURE.img-wrap.lazy
							source(srcset="#" data-srcset=`img/@2x/webp/thumb-9.webp` type="image/webp")
							img(src="#" data-src=`img/@2x/thumb-9.jpg`, alt="") 

			//- +arrow()
	.container.pagination
		span.step-links
			span.d-none.d-md-inline Страница: 
			a(href='?page=2') ← Предыдущая 
			| 
			span.current
				| 1 из 63. 
			a(href='?page=2') Следующая →
	+footer()
	