extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 

block variables
	// подключи тут
	//  стили темы
	link(rel="stylesheet", href="css/eg.min.css")
	- let  mainPage= 'bg-black'
block title
	- let  title= 'Евразия'
	title= title
 
block bg
	+pic('bg-eg','bg','')(class="picture-bg")
block pagecontent 
	//- +mob-mnu()
	+top-nav('img/svg/logo-eg.svg') 
		+e.mob-spacing.col-auto
			+b.user-block--sm
				.row.align-items-center
					.col-auto
						img(src="img/@2x/thumb-9.jpg", alt="")

					.col
						.h5.fw-500 Валентин 
							div Олегов
						.small Участник
		+e.mob-spacing.col-auto
			+e.link-download(href="#")
				+icon("download")
				| Скачать все
	+Gal()