extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 

block variables
	// подключи тут
	//  стили темы
	link(rel="stylesheet", href="css/tavrida.min.css")
	- let  mainPage= 'bg-black'
block title
	- let  title= 'title'
	title= title
	// подключи тут
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
block pagecontent 
	//- +mob-mnu()
	+top-nav() 
	+b.start-section
		+e.container.container
			.row.align-items-center
				.col-lg-6
					+e.title.h1.fw-900.ttu Для поиска фотографий с&nbsp;собой сделайете селфи или загрузите свою фотографию
					+b.control
						.row
							.col-sm-6
								+e.btn.btn-primary(type="button") Сделать селфи
							.col-sm-6
								+e.btn.btn-primary(type="button") Загрузить фото
						
				.col-lg-6.d-none.d-lg-block
					+thumbnails
		.container
			a.btn.btn-outline-primary(href="#") Все фото мероприятия
	+footer()
	