extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 

block variables
	// подключи тут
	//  стили темы
	link(rel="stylesheet", href="css/tavrida.min.css")
	- let  mainPage= 'bg-black'
block title
	- let  title= 'title'
	title= title
	// подключи тут
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
block pagecontent 
	//- +mob-mnu()
	+top-nav() 
		+e.mob-spacing.col-auto
			+b.user-block--sm
				.row.align-items-center
					.col-auto
						img(src="img/@2x/thumb-9.jpg", alt="")

					.col
						.h5.fw-900.ttu Валентин 
							div Олегов
						.small Участник
		+e.mob-spacing.col-auto
			+e.link-download(href="#")
				+icon("download")
				| Скачать все
	+Gal()